*{
    margin: 0;
    padding: 0;
}
#header{
    width: 100%;
    height: auto;
    background-color: rgb(130, 133, 130);
}
#header h1{ text-align: center;

}
#nav{
    width: 25%;
    height: 500px;
    background-color: white;
    float: left;
}
#main{
    width: 50%;
    height:500px;
    margin: auto;
    background-color: rgb(214, 215, 247);
    float: left;

    
    
}
#main-btn{
    width: 80%;
    margin: auto;
    text-align: center;
}
#main-btn li {

    border-radius: 6px;
    background-color: rgb(224, 216, 216);
    border: 2px solid black;
    list-style: none;
}
#main-btn  li:hover{
    background-color: rgb(216, 212, 207);

}
#main-btn li a{
    
    text-decoration: none;
    
    
}

#footer{
    
    height: 200px;
    background-color: gold;
    clear: both;
}